*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    background: linear-gradient(rgb(255, 94, 1),rgb(207, 179, 20));
    font-family: Arial, Helvetica, sans-serif;
}
header{
    background: rgb(0, 161,235);
    padding: 1.5rem;
    text-align: center;
}

header h1{
    letter-spacing: 3px;
    text-shadow: 3px 4px 1px rgb(79, 41, 145);
}

main{
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 2rem;
}

input, button{
    border: none;
    border-radius: 5px;
    font-size: 1.3rem;
    padding: .3rem .5rem;
    text-align: center;
    box-shadow: 2px 2px 5px #000;
}